
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Styling the header */
header {
    background-color: #1F2937;
}
.container {
    margin: auto;
    width: 70%; /* Adjust as needed */
    padding: 10px 10px 50px 10px;
}

.container nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding-top: 10px;

}

.container nav ul li:nth-child(2) {
    margin-left: auto;
}

.container section {
   
    margin: 50px 0;
    display: flex;
    justify-content: space-evenly;
}

.title >*{
    margin: 10px;
}

.title > button{
    padding: 5px 10px;
    background-color: #3882F6;
    border-radius: 11px;
    color: #E5E7EB;

} 
.title h1 ,
.container nav ul li:first-child {
    font-size: 48px;
    color: #F9FAF8;
}
.title P ,
.container nav ul li:not(:first-child) {
    font-size: 18px;
    color: #E5E7EB;
}

/* Styling main */

.information {
    width: 60%;
    margin: 20px auto 40px auto;
    height: 300px;
}
.information h2 {
    width: fit-content;
    margin: 20px auto;
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
}
.information .boxes {
    display: flex;
    gap: 10%;
}
.boxes div p {
    padding: 3px 10px;
}

.box {
    max-width: auto;
    margin: 5px;
    width: 150px;
    height: 100px;
    border: 3px solid rgb(18, 69, 163);
    border-radius: 11px;
}

.quote {
    background-color: #E5E7EB;
}

.quote .text {
    width: 60%;
    margin: 20px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 100px;
}
.quote .text p {
    font-size: 36px;
    color: #1F2937
}

.quote .text p:nth-last-child(1) {
    margin: 15px;
    align-self: flex-end;
}


.sign-up {
    width: 70%;
    margin: 50px auto;
    background-color: #3882F6;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}


.sign-up .left h3 ,
.sign-up .left p {
    color: #F9FAF8;
}


.sign-up button {
    padding: 0px 10px;
    background-color: #3882F6;
    border-radius: 11px;
    color: #E5E7EB;
    border-color: #F9FAF8;

}


















footer {
    background-color: #1F2937;
    height: 50px;
    display: flex;
    
    align-items: center;
}
footer p {
   width: fit-content;
   margin: 0 auto;
   color: #F9FAF8
}